// Typography
$main-font: 'Open Sans', sans-serif;

// Layout
$sidebar-width: 230px;

// Preference
$primary-color:     #0275d8;
$primary-bg:        #343d48;
$dark-soft:         #464e59;
$link-color:        #0275d8;